@use './../../assets/sass/utils/mixins' as *;

.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  &__list {
    margin: 0 rem(10);
    span {
      margin: rem(3);
    }
  }
  &__button {
    border: 1px solid var(--bs-gray-400);
    padding: rem(10);
    cursor: pointer;
    transition: all 250ms ease-in-out;
    border-radius: rem(15);
    &:hover {
      background-color: var(--bs-blue);
      color: var(--bs-white);
    }
  }
}
